@import "./../../styles/variables.scss";
.header {
  background-color: $headerColor;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  &__container {
    height: $headerHeight;
    max-width: 1360px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
