@import "./../../../styles/variables.scss";

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  &__link {
    height: 100%;
    color: $white;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
    @include breakpoint(sm-only) {
      font-size: 0.9rem;
      color: $color;
    }
    &:last-child {
      margin-left: 24px;
    }
    @include breakpoint(lg) {
      &:hover {
        color: $color;
      }
    }
  }
}
